<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Biblioteca Virtual</title>
    <link rel="shortcut icon" href="/img/logo_doctum.svg">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- USANDO ICONES DO BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
