<nav class="navbar navbar-primary bg-primary navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/img/logo_doctum.svg" class="imgLogo">
        </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item" id="liNavAdmin">
                <a class="nav-link" href="/posts">
                    <i class='bx bx-image-add'></i>
                    <span>Postagens</span>
                </a>
            </li>
            <li class="nav-item" id="liNavAdmin">
                <a class="nav-link" href="/book">
                    <i class='bx bx-book-bookmark'></i>
                    <span>Biblioteca</span>
                </a>
            </li>
            <li class="nav-item" id="liNavAdmin">
                <a class="nav-link" href="/book/search">
                    <i class='bx bx-search-alt'></i>
                    <span>Buscar livro</span>
                </a>
            </li>
        </ul>
        <ul class="nav-navbar">
            <li class="nav-item" id="liNavAdmin">
                <a class="nav-link" href="/login">
                    <i class='bx bx-user-circle'></i>
                    <span>Administradores</span>
                </a>
            </li>
        </ul>
    </div>
</nav>