body
{
    background-color:#3AC0FF;
}
li
{
    list-style: none;
}
i
{
    font-size: 20px;
    margin-left: 2vh;
}
label
{
    color: black;
}
h3:hover
{
    color: white;
    text-decoration:underline;
}
#liNavAdmin
{
    margin-left: 5vh;
}
#listBook:hover
{
    background-color: white;
    color: black;
}
.nav-link
{
    color: white;
    text-decoration: none;
}

.nav-link:hover
{
    border: 1px solid white;

}
.display-5:hover
{
    color: white;
}
.imgLogo{
    width: 80px;
    height: 80px;
}

.imageIndex
{
    width: 100%;
    height: 400px;
    background-image: url('/img/bibliotecaIndex.png');
}

/* COMEÇO DA ANIMÇÃO */
.line
{
    border-right: 2px solid rgb(102, 98, 98);
    width: 660px;
    white-space: nowrap;
    overflow: hidden;
    color: black;
}

.cursorTitle
{
    animation: cursor 500ms steps(40) infinite normal, 
    textAnimation 4s steps(40) 1s normal;
}

@keyframes textAnimation {
    from{
        width: 0;
    }
    to
    {
        width: 690px;
    }
}

@keyframes cursor {
    from {
        border-right: 2px solid rgb(102, 98, 98);
    }
    to{
        border-right: transparent;
    }
}
/* FINAL DA ANIMÇÃO */

.container
{
    margin-top: 20vh;
}
.card-header
{
    text-align: center;
}
.card
{
    background-color: black;
    color: white;
}

.msgIndex
{
    margin-top: 20vh;
    text-align: center;
}
.display-4
{
    float: right;
}

.display-4:hover
{
    color: white;
}
.biblioteca
{
    margin-top: 20vh;
    background-image: url('/img/woman.png');
    width: 100%;
    height: 400px;
    background-repeat: repeat-y;
}
.nameBiblioteca
{
    text-align: center;
    color: black;
}
.marcacao
{
    color: darkturquoise;
}
.searchBook 
{
    text-align: center;
}
.imgArchive
{
    height: 180px;
    width: 180px;
}

.imageIndexFooter
{
    width: 100%;
    height: 500px;
    background-image: url('/img/testeImg.png');
}