<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<%- include('../../partials/head2.ejs') %>
<body>
    <%- include('../../partials/nav.ejs') %>
    <section class="msgIndex">
        <header>
            <h2 class="display-6 line cursorTitle"><b>Seje bem vindo a nossa Biblioteca ! :)</b></h2>
        </header>
    </section>
</body>
<%- include('../../partials/footer.ejs') %>