<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<%- include('../../partials/head2.ejs') %>
<body>
    <%- include('../../partials/nav.ejs') %>
    
    <div class="msgIndex">
        <header>
            <h2 class="display-6 line cursorTitle"><b>Seja bem vindo a nossa Biblioteca ! :)</b></h2>
        </header>
    </div>
    <section class="imageIndex">       
    </section>
    <section class="imageIndexFooter">
        <header style="margin-top: 2vh;">
            <h3 class="display-6" style="text-align: center;">Aqui Ofereçemos um Serviço de Locação de Livros On-line</h3>
            <h3 class="display-6" style="text-align: center;">Aqui Ofereçemos um Serviço de Publicação de Post</h3>
            <h3 class="display-6 mt-2" style="text-align: center;">Aqui Ofereçemos um Serviço de Cadastro de Categorias</h3>
            <h3 class="display-6" style="text-align: center;">Aqui Ofereçemos um Serviço Exclusivos para Administradores</h3>
        </header>
    </section>
    <hr>
</body>
<%- include('../../partials/footer.ejs') %>