<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<%- include('../../partials/head2.ejs') %>
<body>
    <%- include('../../partials/nav.ejs') %>
    <div class="container">
        <div class="searchBook">
            <hr>
            <img src="/img/archive.png" class="imgArchive">
            <hr>
        </div>
        <form method="POST" action="/book/search/now">
            <div class="form-floating">
                <input type="text" name="name" class="form-control" placeholder=" ">
                <label>Digite o nome do Livro</label>
            </div>
            <br><div class="d-grid gap-2 col-6 mx-auto">
                <button class="btn bg-success">Procurar</button>
            </div>
        </form>
    </div>
</body>
<%- include('../../partials/footer.ejs') %>